# Rust
target/
**/target/
**/*.rs.bk

# Foundry / Solidity
cache/
out/
broadcast/

# Risc0 / Generated Contracts
contracts/ImageID.sol
contracts/Elf.sol
receipt.bin
proofs/
metrics/

# Environment / Secrets
.env
.env_vars

# Logs
anvil.log

# Editor / OS
.idea/
.vscode/
.DS_Store
*:Zone.Identifier
